<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzh.mapper.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zzh.model.SysUser">
        <id column="id" property="id" />
        <result column="user_code" property="userCode" />
        <result column="user_name" property="userName" />
        <result column="pass_word" property="passWord" />
        <result column="salt" property="salt" />
        <result column="nick_name" property="nickName" />
        <result column="phone_number" property="phoneNumber" />
        <result column="gender" property="gender" />
        <result column="email" property="email" />
        <result column="reg_ip" property="regIp" />
        <result column="create_time" property="createTime" />
        <result column="last_login_ip" property="lastLoginIp" />
        <result column="last_login_time" property="lastLoginTime" />
        <result column="identity" property="identity" />
    </resultMap>

</mapper>
